ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  color: #fccb24;
  padding: 10px;
}

a{
  text-decoration: none;
  color: #fccb24;
}
a:hover{
  text-decoration: underline;
}


button{
  margin: 0.25em;
  font-size:20px;
  padding:5px 5px;
  background-color: #fccb24;
  color: #fc4c4c;
  border: none;
  border-radius: 5px;
}
button:hover{
  transform: scale(0.9);
  cursor: pointer;
}
button:active{
  transform: scale(0.9);
  background-color: #f84444;
  color: #fccb24;
  border: 1px solid #fccb24;
}
